---
layout: wrapper
---

<!-- cover page sorta with me and a blurb-->
<div class="container">
  <div class="row">
    <div class="col-sm-10">  
      {% for this in page.sections %}
      <div class="flex-container p-3">
        <div class="p-3">
          <p id="this.section.name">{{this.section.name}}</p>
        </div>
        {% for this in this.section.subsections %}
        <div class="section p-3">
          <h3>{{this.subsection.name}}</h3> 
          <h5>{{this.subsection.position}}</h5> 
          <h6>{{this.subsection.blurb | markdownify }}</h6>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <nav class="col-sm-2 text-right py-3">
      <ul class="nav nav-pills nav-stacked py-3" data-spy="affix" data-offset-top="205">
        {% for this in page.sections %}
        <li><a href="#{{this.section.name}}" style="font-size: .8rem;">{{this.section.name}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

{{content}}
