---
layout: wrapper
---

<!-- cover page sorta with me and a blurb-->
<div class="container p-4">
  <div class="row">
    <div data-target="#list-example" class="col-sm-10">  
      <div>
        <div class="sidebarleft">
          <h6> Section 1 </h6>
        </div>
        <div class="section">
          <h1 id="section1">#section1</h1> 
          <h4>Some text to enable scrolling</h4>
          <h4>Some text to enable scrolling</h4>
          <h4>Some text to enable scrolling</h4>
          <h4>Some text to enable scrolling</h4>
          <h4>Some text to enable scrolling</h4>
          <h4>Some text to enable scrolling</h4>
          <h4>Some text to enable scrolling</h4>
        </div>
      </div>
      <h1 id="section2">#section2</h1> 
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h1 id="section3">#section3</h1> 
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
      <h4>Some text to enable scrolling</h4>
    </div>
    <nav class="col-sm-2">
      <ul id="list-example" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
        <li class="active"><a href="#section1">Section 1</a></li>
        <li><a href="#section2">Section 2</a></li>
        <li><a href="#section3">Section 3</a></li>
      </ul>
    </nav>
  </div>
</div>
