---
layout: wrapper
---
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column p-5">
    <header class="masthead mb-auto">
       <div class="inner">
         
       </div>
    </header>
    <main role="main" class="inner cover"> 
        <div class="row p-4">
            <div class="col-12 col-lg-2 col-md-2 col-xl-3">
                <img class="quotations m-3	d-none d-sm-none d-md-block" style="float:right;" src="../assets/svg/edit-tools.svg" alt="failure">
            </div>
            <div class="col">
                <h1 class="small-title-font">Sometimes I do things and they work out</h1>
            </div>
        </div>
    </main>
    <footer class="mastfoot mt-auto text-right">
        <div class="inner">
        <h5>About</h5>
        <h5>Papers</h5>
        <h5>Projects</h5>
        <h5>Contact</h5>
        </div>
    </footer>
</div>

