---


---

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="Elizabeth Poggie" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../assets/css/style.css" rel="stylesheet">
        <link href="../assets/css/bootstrap.css" rel="stylesheet">
    </head>

    <body>

        <!-- put header here -->
        <div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 navbar">
                <h5 class="my-0 mr-md-auto">{{site.title}}</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2" href="/about/">About</a>
                    <a class="p-2" href="#">Posts</a>
                    <a class="p-2" href="#">Projects</a>
                    <a class="p-2" href="#">Contact</a>
                </nav>
                
        </div> 

        <!-- populate page with main content -->
        {{content}}


        <!-- put footer here -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../assets/js/script.js"></script>
    </body>

</html>