---


---

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="Elizabeth Poggie" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../assets/css/bootstrap.css" rel="stylesheet">
        <link href="../assets/css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>

    <!-- should loop through all main pages for nav with https://www.youtube.com/watch?v=6N1X5XffuUA&list=PLLAZ4kZ9dFpOPV5C5Ay0pHaa0RJFhcmcB&index=15 -->

    <!-- put header here -->
    <div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 navbar">
        <h5 class="my-0 mr-md-auto"><a class="h5" href="{{site.url}}">{{site.title}}</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2" href="/about/">About</a>
            <a class="p-2" href="/papers/">Papers</a>
            <a class="p-2" href="#">Projects</a>
            <a class="p-2" href="#">Contact</a>
        </nav>
        
    </div> 
   
    <!-- populate page with main content -->
    {{content}}


        <!-- put footer here -->

    
    <script src="../assets/js/jquery-3.5.0.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/script.js"></script>

</html>