---
layout: wrapper
---
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column p-5 vertical-align: middle;">
    
    <main role="main" class="inner cover"> 
        <div class="row p-4">
            <div class="col-12 col-lg-2 col-md-2 col-xl-3">
                <img class="quotations m-3d-none d-sm-none d-md-block" style="float:right;" src="{{site.baseurl}}/assets/svg/edit-tools.svg" alt="failure">
            </div>
            <div class="col">
                <h1 class="small-title-font text-middle ">Sometimes I do things and they work out</h1>
            </div>
        </div>
    </main>
    <footer class="mastfoot mt-auto text-right d-none d-sm-none d-md-block">
        <div class="inner">
            <a href="{{site.baseurl}}/about/"><h5>About</h5></a>
            <a href="{{site.baseurl}}/papers/"><h5>Papers</h5></a>
            <a href="{{site.baseurl}}/projects/"><h5>Projects</h5></a>
            <a href="{{site.baseurl}}/contact/"><h5>Contact</h5></a>
        </div>
    </footer>
</div>

