---
layout: wrapper
permalink: /papers/
---

<div class="container  pt-4">
    <div class="pb-2 pb-md-4 pb-lg-4 pb-xl-4" style="display: flex; justify-content: center;">
        <h1>Portfolio</h1>
    </div>

<div class="pb-2 pb-md-5 pb-lg-5 pb-xl-5">
    <h3> UI/UX </h3>
        <div class="row">
{% for project in site.projects %}
    {% if project.category == "UI/UX" %}
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 p-2">
                <a href="{{project.permalink | prepend: site.baseurl}}">
                    <div class="card" style="width: 100%; border-radius: 0rem; border: 0px;">
                        <img class="card-img-top" src="{{project.cover-image | prepend: site.baseurl}}" alt="Card image cap">
                        <div class="card-body" style="padding: 0rem; padding-top: .25rem;">
                        <h2 style="color:black;">{{project.title}}</h5>
                        <p style="color:black;">{{project.blurb}}</p>
                        </div>
                    </div>
                </a>
            </div>
    {% endif %}
{% endfor %}
        </div>
    </div>

    <div class="pb-2 pb-md-5 pb-lg-5 pb-xl-5">
        <h3> Academic </h3>
            <div class="row">
    {% for project in site.projects %}
        {% if project.category == "Academic" %}
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 p-2">
                    <a href="{{project.permalink | prepend: site.baseurl}}">
                        <div class="card" style="width: 100%; border-radius: 0rem; border: 0px;">
                            <img class="card-img-top" src="{{project.cover-image | prepend: site.baseurl}}" alt="Card image cap">
                            <div class="card-body" style="padding: 0rem; padding-top: .25rem;">
                            <h2 style="color:black;">{{project.title}}</h5>
                            <p style="color:black;">{{project.blurb}}</p>
                            </div>
                        </div>
                    </a>
                </div>
        {% endif %}
    {% endfor %}
            </div>
        </div>

        <div class="pb-2 pb-md-5 pb-lg-5 pb-xl-5">
            <h3> Branding </h3>
                <div class="row">
        {% for project in site.projects %}
            {% if project.category == "Branding" %}
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 p-2">
                        <a href="{{project.permalink | prepend: site.baseurl}}">
                            <div class="card" style="width: 100%; border-radius: 0rem; border: 0px;">
                                <img class="card-img-top" src="{{project.cover-image | prepend: site.baseurl}}" alt="Card image cap">
                                <div class="card-body" style="padding: 0rem; padding-top: .25rem;">
                                <h2 style="color:black;">{{project.title}}</h5>
                                <p style="color:black;">{{project.blurb}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
            {% endif %}
        {% endfor %}
                </div>
            </div>

        
            <div class="pb-2 pb-md-5 pb-lg-5 pb-xl-5">
                <h3> Art </h3>
                    <div class="row">
            {% for project in site.projects %}
                {% if project.category == "Art" %}
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4 p-2">
                            <a href="{{project.permalink | prepend: site.baseurl}}">
                                <div class="card" style="width: 100%; border-radius: 0rem; border: 0px;">
                                    <img class="card-img-top" src="{{project.cover-image | prepend: site.baseurl}}" alt="Card image cap">
                                    <div class="card-body" style="padding: 0rem; padding-top: .25rem;">
                                    <h2 style="color:black;">{{project.title}}</h5>
                                    <p style="color:black;">{{project.blurb}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                {% endif %}
            {% endfor %}
                    </div>
                </div>

</div>


