
/* everything to do with fonts and text*/
@font-face {
    font-family: title_font;
    src: url(../fonts/NHaasGroteskTXPro-75Bd.ttf);
}

@font-face {
  font-family: sub_font;
  src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}

h1{
  font-family: title_font;
  font-size: 7rem !important;
}

h5{
  font-family: title_font;
  font-size: 1.3rem !important;
  line-height: .9 !important;
}

a{
  font-family: sub_font;
  color: black !important;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
  border-bottom: none !important;
}

/* everything to do with images */
.quotations {
  width:70px;
}


.cover-container {
  position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /*border: 15px solid orange*/
}
/*
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display:flex;
  color: #fff;
}

.cover-container {}
*/

