
/*fonts*/
@font-face {
    font-family: title_font;
    src: url(../fonts/NHaasGroteskTXPro-75Bd.ttf);
}

@font-face {
  font-family: sub_font;
  src: url(../fonts/NHaasGroteskTXPro-55Rg.ttf);
}

/*Text Specs*/
h1{
  font-family: title_font;
  font-size: 7rem !important;
}

h5{
  font-family: title_font;
  font-size: 1.3rem !important;
  line-height: .9 !important;
}

h6{
  font-family: sub_font;
  color: black !important;
}

a{
  font-family: sub_font;
  color: black !important;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
  border-bottom: none !important;
}

/*Image sizing*/
.quotations {
  width:70px;
}

/*cover specs*/
.cover-container {
  position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /*border: 15px solid orange*/
}

/*navbar specs*/
.navbar {
  z-index:1000 !important; /*otherwise the nav bar sits behind the page content sometimes*/
  position:relative !important;
}

/*custom progress bar*/
.my-sidebar {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  background-color: greenyellow; 
} 

@media (max-width: 690px) {
.my-sidebar {
  display: none; 
} 
}